{% load cms_tags staticfiles sekizai_tags menu_tags %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Default Home Page{% endblock title %}</title>
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <!-- Theme CSS -->
        <!-- Loading Bootstrap -->
        <link href="{% static 'dist/css/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'dist/css/menu.css' %}" rel="stylesheet">

        <!-- Loading Flat UI -->
<!--         <link href="{% static 'dist/css/flat-ui.css' %}" rel="stylesheet">
 --><!--         <link href="{% static 'docs/assets/css/demo.css' %}" rel="stylesheet">
 -->        <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
          <nav class="navbar navbar-fixed-top navbar-inverse">
            <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Waltons</a>
            </div>

            <div class="collapse navbar-collapse js-navbar-collapse">
                <ul class="nav navbar-nav">
                    {% show_menu 0 100 100 100 "menu.html" %}
                </ul>
            </div><!-- /.nav-collapse -->
        </nav>
    </div>

        <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
            {% placeholder carousel %}
    <!-- Carousel nav -->
        </div>
        <div class="container-fluid">
            


            <div class="row row-offcanvas row-offcanvas-left">
                <div class="col-md-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="sidebar-nav"> <!-- nav nav-stacked"> -->
                        <ul class="nav">
                            {% show_menu 1 2 100 100 "sidemenu.html" %}
                        </ul>
                    </div>


                </div>
                <div class="col-md-9" id="rightCol">
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="{% static 'dist/js/menu.js' %}"></script>
        <script src="{% static 'dist/css/carousel.css' %}"></script>
        <script>
        $(document).ready(function() {
          $('[data-toggle=offcanvas]').click(function() {
            $('.row-offcanvas').toggleClass('active');
          });
        });
        </script>
        {% render_block "js" %}
    </body>
</html>
