{% load i18n menu_tags cache columns cms_tags staticfiles sekizai_tags %}

{% for child in children %}
    <!-- running menu.html -->

 <!--   <li class="{% if child.ancestor or child.sibling %} active{% endif %}
        {% if child.children %} dropdown{% endif %}"> -->


            <li class="dropdown {% if child.ancestor or child.sibling %}active{% endif %}">
                <a href="{{ child.get_absolute_url }}" class="dropdown-toggle" data-toggle="dropdown">{{ child.get_menu_title }}</a>                       <ul class="dropdown-menu">

                    
                    {% for child in child.children %}
                        {% if child.children %}
                    
                            <li class="dropdown ">
                                <a  class="dropdown-toggle" data-toggle="dropdown" href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a>
                                    <ul class="dropdown-menu to-left">
                                        {% for child in child.children %}
                                            <li ><a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>
                                        {% endfor %}
                                    </ul>
                            </li>
                        {% else %}
                            <li ><a href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}</a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
   <!--  </li> -->
    {% if class and forloop.last and not forloop.parentloop %}{% endif %}
{% endfor %}
